doctype html
html
  head
    title Snake on CoffeeScript

body
  script(src="#{game_file}")
  link(rel="stylesheet" type="text/css" href="main.css")

  include game.jade
  script.
    window.barrier = #{barrier};
    window.game = new Game(#{width}, #{height}, #{size}, #{speed});

  .flex
    p.flex_child Move:<br>
      | W/&#9650; - faster snake (only on pause) <br>
      | S/&#9660; - slover snake (only on pause) <br>
      | A/&#9664; - turn left <br>
      | D/&#9654; - turn right <br>
      | L - switch layout type (&#9664;&#9654; or &#9650;&#9654;&#9660;&#9664;) <br>
      | ESC/Enter/Space - pause/resume game

    h4.flex_child Source code on 
      a(href="http://github.com/rapkin/snake") GitHub (rapkin/snake)
